<h1> Ajax Assignment </h1>

<form id='user-form'>
  <input id='user-first-name' autofocus type='text' required name='user[first_name]' placeholder='First Name' />
  <br />
  <input id='user-last-name' type='text' required name='user[last_name]' placeholder='Last Name' />
  <br />
  <input id='user-number' required name='user[phone_number]' placeholder='Phone Number' />
  <br />
  <input type='submit' />
</form>

<div id='user-info' class='hide' ></div> 

<ul id='users'>
</ul>

